.menu,
.menu__options {
  display: grid;
}

.menu__option,
.menu__btn {
  border: none;
  border-radius: 5px;
  outline: none;
}

.menu {
  text-align: center;
}

.menu__title {
  color: #fffbe9;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  margin-bottom: 1em;
}

.menu__options {
  gap: 1.25em;
  margin-bottom: 1.25em;
}

.menu__option {
  box-shadow: 0 0 10px rgb(236, 231, 231, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  justify-self: center;
  padding: 1.25em;
  width: 90%;
}

.menu__option:focus {
  outline: 2px solid #03c988;
}

.menu__options hr {
  opacity: 0.1;
}

.menu__btn {
  background: #3c79f5;
  color: #fffbe9;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  justify-self: center;
  letter-spacing: 0.1rem;
  padding: 0.6em;
  transition: all ease 0.3s;
  width: 90%;
}

.menu__btn:focus {
  outline: 1px solid #e3f6ff;
}

.menu__btn:hover {
  background: #4b56d2;
  outline: none;
}

.menu__btn:active {
  opacity: 0.8;
  outline: none;
}

@media only screen and (min-width: 576px) {
  .menu {
    margin-top: 5em;
  }

  .menu__title {
    font-size: 1.5rem;
  }

  .menu__option {
    font-size: 0.9rem;
    justify-self: center;
    padding: 1.25em;
    width: 50%;
  }

  .menu__btn {
    font-size: 1.2rem;
    width: 50%;
  }

  .menu__options hr {
    width: 50%;
    justify-self: center;
  }
}
