@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700;900;&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* LAYOUT */
body {
  background: #222831;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header,
footer {
  color: #34b3f1;
}

header,
main,
footer {
  padding: 1em;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

main {
  align-self: center;
  color: #e3f6ff;
}

footer {
  text-align: center;
}

.blob {
  width: 15%;
  position: absolute;
  z-index: 0;
}

.blob--top {
  top: 0;
  right: 0;
}

.blob--bottom {
  bottom: 0;
  left: 0;
}

/* TYPOGRAPHY */
.header__title {
  font-family: "Karla", sans-serif;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(245, 239, 239, 0.3);
}

/* LINKS */
a {
  color: #f58840;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-content {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
}

.question__text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.question__icon {
  width: 20px;
}

.question__choices {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}

.question__choice {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  padding: 0.25em 0.75em;
  border: 1px solid #00abb3;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.question__choice--selected {
  background: #d6dbf5;
}

#correct {
  background: #94d7a2;
  pointer-events: none;
}

#wrong {
  background: #f8bcbc;
  pointer-events: none;
  opacity: 0.5;
}

#others {
  opacity: 0.5;
  pointer-events: none;
}

.score-text {
  align-self: center;
  font-weight: 600;
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.questions__btn {
  background: #4d5b9e;
  color: #ffffff;
  border: none;
  outline: none;
  align-self: center;
  border-radius: 10px;
  width: 100%;
  padding: 0.75em;
  cursor: pointer;
  transition: all ease 0.3s;
}

.questions__btn--menu {
  background: none;
  border: 1px solid #4d5b9e;
  color: black;
}

.questions__btn--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.menu__start-btn:hover,
.questions__btn:hover {
  opacity: 0.9;
}

.menu__start-btn:active,
.questions__btn:active {
  opacity: 0.8;
}

.questions__btn--menu:hover {
  background: #6577cf;
  color: white;
}

.question__choice:hover {
  background: #bcc6e9;
}

@media only screen and (min-width: 576px) {
  .blob {
    width: 4%;
  }

  .footer-text {
    font-size: 1rem;
  }

  .menu__settings {
    width: fit-content;
  }

  .main {
    gap: 1.5rem;
  }

  .game-details {
    font-size: 1.1rem;
  }

  .questions {
    gap: 1rem;
  }

  .question {
    font-size: 1.1rem;
    gap: 1rem;
  }

  .question__icon {
    width: 3%;
  }

  .question__choices {
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
  }

  .question__choice {
    padding: 10px;
  }

  .questions__btn {
    width: 20%;
  }
}
