*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222831;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

header,
footer {
  color: #34b3f1;
}

header,
main,
footer {
  padding: 1rem;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.89rem;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(245, 239, 239, 0.3);
}

.fa-regular {
  color: gold;
  margin-right: 0.4em;
}

main {
  align-self: center;
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

a {
  color: #f58840;
}

a:hover {
  color: #03c988;
  outline: none;
}

a:active {
  opacity: 0.8;
}

.blob {
  position: absolute;
  width: 10vw;
}

.blob--top {
  right: 0;
  top: 0;
}

.blob--bottom {
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 576px) {
  main {
    align-self: flex-start;
    margin-bottom: 2em;
  }
}
